html
  include partials/head.pug
  body
    include partials/navbar.pug
    div.container
      h1= title
      h2 Schedule stream recordings so that you won't miss your favorite shows
  include partials/footer.pug
