nav.navbar.navbar-expand-lg.bg-light 
  div.container-fluid
    a.navbar-brand(href='/') 
      img.logo(src='/images/logo.png', alt='Logo')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/schedule') Schedule